<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
    </head>
    <body>
        <h1><%= title %></h1>
        <p>Marcos Collado Martín</p>
        <% quizzes.forEach(function(quiz) { %>
        <%= quiz.question %><%= quiz.answer %>
        <% }); %>
    </body>
</html>
